<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <title>Shelter Me</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="brand" href="index.html">Shelter Me</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="animal.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/a1.jpg" alt="animal" />
                        </a>
                        <div class="card-body">
                            <a href="animal.html">
                                <h1>Piosas</h1>
                            </a>
                            <div>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <h2>Atiduodamas</h2>
                            </div>
                            <div>
                                <h2>2020-11-11</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="animal.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/a1.jpg" alt="animal" />
                        </a>
                        <div class="card-body">
                            <a href="animal.html">
                                <h1>Piosas</h1>
                            </a>
                            <div>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <h2>Atiduodamas</h2>
                            </div>
                            <div>
                                <h2>2020-11-11</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="animal.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/a1.jpg" alt="animal" />
                        </a>
                        <div class="card-body">
                            <a href="animal.html">
                                <h1>Piosas</h1>
                            </a>
                            <div>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <h2>Atiduodamas</h2>
                            </div>
                            <div>
                                <h2>2020-11-11</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="animal.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/a1.jpg" alt="animal" />
                        </a>
                        <div class="card-body">
                            <a href="animal.html">
                                <h1>Piosas</h1>
                            </a>
                            <div>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <h2>Atiduodamas</h2>
                            </div>
                            <div>
                                <h2>2020-11-11</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="animal.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/a1.jpg" alt="animal" />
                        </a>
                        <div class="card-body">
                            <a href="animal.html">
                                <h1>Piosas</h1>
                            </a>
                            <div>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <h2>Atiduodamas</h2>
                            </div>
                            <div>
                                <h2>2020-11-11</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="animal.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/a1.jpg" alt="animal" />
                        </a>
                        <div class="card-body">
                            <a href="animal.html">
                                <h1>Piosas</h1>
                            </a>
                            <div>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <h2>Atiduodamas</h2>
                            </div>
                            <div>
                                <h2>2020-11-11</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="animal.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/a1.jpg" alt="animal" />
                        </a>
                        <div class="card-body">
                            <a href="animal.html">
                                <h1>Piosas</h1>
                            </a>
                            <div>
                                <span>
                                    <i class="fa fa-star-o"></i>
                                </span>
                                <h2>Atiduodamas</h2>
                            </div>
                            <div>
                                <h2>2020-11-11</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">© All rights reserved</footer>
        </div>
    </body>
</html>